certifi==2020.12.5
cycler==0.10.0
kiwisolver==1.3.1
LocalitySensitiveHashing==1.0.1
matplotlib==3.3.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603570489231/work
Pillow==8.1.0
pydub==0.24.1
pyechonest @ git+https://github.com/jsbronder/pyechonest.git@f63f272d3b11903f8c9c2244d1f780403393b600
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.6.0
six @ file:///tmp/build/80754af9/six_1605205327372/work
source==1.2.0
